.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav i {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.nav i:hover {
  transform: scale(1.2);
}
